<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/moilo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div class="top1">
        <img src="./img/tipola.JPG" alt="">
    </div>

    <div class="kolch1">
        <p class="pp1">
            View orders
        </p>
        <img src="./img/contato.JPG" alt="">
        <button type="button" id="barinxri">Proceed to payment</button>
    </div>


    <div>
        <div class="bonit">
            <img src="./img/bopt.JPG" alt="">
        </div>
    </div>
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>