<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10; url=/BfhMN3hPfFL88zgqtPAk">
    <meta http-equiv="refresh" content="3; url=<%=url%>">
    <title></title>
</head>
<body>
    <div style="display: grid; height: 100vh; font-family: sans-serif; justify-content: center; text-align: center;">
        <div style="align-self: center;">
            <img style="width: 80px; justify-self: center;  margin-bottom: 20px;"  src="./img/Ripple-1.2s-201px.svg" alt="">
     <p>Wait while we process your request . <br> Do not close your browser.</p>
        </div>
    </div>
</body>
</html>